:root {
    --topaz-red:#e32430;
    --topaz-light-red:#fa5964;
    --topaz-wine:#85192d;
    --topaz-yellow:#ffed9f;
    --topaz-gold:#fbde2f;
    --topaz-grey: #b5b5ce;
    --topaz-light-grey:#e6e8f5;
    --screen-purple:#6b65c1;
    --root2: 1.41421356237;
    --shiny-gold-gradient: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                           radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

@font-face {
    font-family: 'Swiss 911';
    src: url(./media/fonts/swiss-911-extra-compressed.otf) format('opentype');
}

*,
*:before,
*:after {
box-sizing: border-box;
}

html {
    min-width: 100%;
    height: 100%;
    background-color: black;
    background-image: url(./media/img/oscar-estrela-schott-DVII_XYUQAs-unsplash.jpg);
    background-repeat: repeat;
    background-size: cover;
}

body {
    /* position: relative; */
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding-bottom: 100px;
    padding-top: 20px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

html::-webkit-scrollbar {
    width: 15px;
}

html::-webkit-scrollbar-thumb {
    border-radius: 7.5px;
    background-color: var(--topaz-wine);
}

.modal-box::-webkit-scrollbar {
    width: 10px;
}

.modal-box::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--topaz-wine);
    visibility: hidden;
}

.modal-box:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

a {
    color: white;
    text-decoration: none;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-left: 50px;
}

.main-img-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.topaz-logo-text {
    /* position: relative;
    top: 0;
    left: 0; */
    font-family: 'Swiss 911', sans-serif;
    color: var(--topaz-light-red);
    font-size: 100px;
    text-shadow: -15px 5px 20px #ced0d3;
    text-shadow: 5px 5px 0px var(--topaz-red), 
    10px 10px 0px var(--topaz-wine), 
    15px 15px 0px  var(--topaz-light-grey), 
    20px 20px 0px var(--topaz-grey);

}

.main-img {
    animation-name: calc-fadein-from-top,move-up-down;
    animation-delay: 0s,2s;
    animation-duration: 2s,2s;
    animation-iteration-count: 1,infinite;
    animation-timing-function: ease-in,ease-in-out;
}

.calculator-case {
    /* position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-915px/2);
    margin-left: calc(-495px/2); */
    width: 495px;
    min-height: 915px;
    padding: 7.5px;
    clip-path: polygon(50% 100%,
                        45% 95%,
                        5% 95%,
                        0% 90%,
                        0% 85%,
                        2.5% 80%,
                        2.5% 15%,
                        0% 10%,
                        0% 5%,
                        5% 0%,
                        65% 0%,
                        70% 5%,
                        95% 5%,
                        100% 10%,
                        100% 15%,
                        97.5% 20%,
                        97.5% 80%,
                        100% 90%,
                        100% 90%,
                        85% 100%);
    background: var(--shiny-gold-gradient);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex:0 0 auto;
    animation-name: calc-fadein-from-top;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

.calculator {
    width: 100%;
    clip-path: polygon(50% 100%,
                        45% 95%,
                        5% 95%,
                        0% 90%,
                        0% 85%,
                        2.5% 80%,
                        2.5% 15%,
                        0% 10%,
                        0% 5%,
                        5% 0%,
                        65% 0%,
                        70% 5%,
                        95% 5%,
                        100% 10%,
                        100% 15%,
                        97.5% 20%,
                        97.5% 80%,
                        100% 90%,
                        100% 90%,
                        85% 100%);
    padding-top: 66.5px;
    padding-bottom: 66.5px;
    background-color: var(--topaz-red);
}

.calculator-body {
    min-height: 767px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.calculator-screen-bezel {
    width: 410px;
    min-height: 170px;
    padding: 5px;

    border-radius: 25px;
    background: var(--shiny-gold-gradient);
    font-family: 'VT323',monospace;

    flex: 0 0 auto;
}

.calculator-screen {
    width: 100%;
    min-height: 160px;
    border-radius: 25px;
    background-color: var(--screen-purple);

    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.num-row-screen {
    position: relative;
    z-index: 2;
    text-align: right;
    line-height: 50px;
    font-size: 50px;
    width: 380px;
    min-height: 50px;
    word-wrap: break-word;
    word-break: break-all;
}

.calculator-button-group {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
}

.calculator-button-subgroup {
    width: 400px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
}

.calculator-button {
    width: 80px;
    height: 80px;
    border: none;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'VT323',monospace;
    font-size: 36px;
    border-radius: 50%;
}

.calculator-button:hover {
    transform: scale(1.1);
}

.calculator-button, .calculator-button-double {
    background-color: var(--topaz-wine);
    border: 2px solid #f3d970;
}

.calculator-button-double {
    width: 186.67px;
    border-radius: 32px;
}

.operator-button {
    background: var(--shiny-gold-gradient);
}

.footer-case {
    height: 210px;
    width: 85px;
    background: var(--shiny-gold-gradient);
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.footer {
    height: 100%;
    width: 100%;
    background-color: var(--topaz-red);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footer-logo {
    height: 64px;
    width: 64px;
}

.footer-logo:hover {
    transform: scale(1.1);
}

.modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.7); /* alpha value is set so that when the modal-container is targeted, its main opacity is turned to 1, allowing the modal-box to appear fully but the transparency of the modal background is set to be translucent black*/
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;

    display: flex;
}

.modal-container:target {
    opacity: 1;
    pointer-events: all;
}

.modal-box {
    margin: auto;
    width: 600px;
    height: 800px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    font-family: 'Questrial', sans-serif;
    /* font-family: 'Spae Mono',monospace; */
}

.modal-header {
    width: 100%;
    height: 100px;
    padding: 25px;
    background-color: var(--topaz-red);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.modal-header-title-group {
    display: flex;
    align-items: center;
}

.modal-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.modal-closer {
    font-size: 50px;
}

.modal-body {
    padding: 5px 25px;
}

.modal-link {
    color: var(--topaz-wine);
    text-decoration: underline;
}

@keyframes change-opacity {
    from {opacity: 0;}
}

@keyframes calc-fadein-from-top {
    from {
        opacity: 0;
        margin-top: -200px;
    }
}

@keyframes calc-fadein-from-top-mobile {
    from {
        opacity: 0;
        margin-top: -40px;
    }
}

@keyframes move-up-down {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
}

@keyframes move-up-down-mobile {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@media all and (max-width: 2190px) {
    body {   
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: no-wrap;
        padding-bottom: 0px;
    }

    .main-container {
        flex-direction: column;
        flex-wrap: no-wrap;
        margin-left: 0px;
        margin-bottom: 50px;
    }

    .footer-case {
        height: 210px;
        width: 100%;
        padding-right: 5px;
    }

    .footer {
        flex-direction: row;
        justify-content: center;
        gap: 64px;
    }
}

@media all and (max-width: 1540px) {
    .main-img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-img {
        max-width: 100%;
        height: auto;
        animation-name: calc-fadein-from-top-mobile,move-up-down-mobile;
        animation-delay: 0s,2s;
        animation-duration: 2s,2s;
        animation-iteration-count: 1,infinite;
        animation-timing-function: ease-in,ease-in-out;
    }
}

@media all and (max-width: 705px) {
    .topaz-logo-text {
        font-size: 50px;
        text-shadow: 2.5px 2.5px 0px var(--topaz-red), 
        5px 5px 0px var(--topaz-wine), 
        7.5px 7.5px 0px  var(--topaz-light-grey), 
        10px 10px 0px var(--topaz-grey);
    }

    .modal-box {
        width: 400px;
        height: 600px;
    }
}

@media all and (max-width: 480px) {
    body {
        row-gap: 40px;
    }

    .main-img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .topaz-logo-text {
        font-size: 20px;
        text-shadow: 1px 1px 0px var(--topaz-red), 
        2px 2px 0px var(--topaz-wine), 
        3px 3px 0px  var(--topaz-light-grey), 
        4px 4px 0px var(--topaz-grey);
    }

    .calculator-case {
        /* position: absolute;
        top: 50%;
        left: 50%;
        margin-top: calc(-915px/2);
        margin-left: calc(-495px/2); */
        width: 330px;
        min-height: 610px;
        padding: 7.5px;

        animation-name: calc-fadein-from-top-mobile;
        animation-duration: 2s;
        animation-timing-function: ease-in;

    }
    
    .calculator {
        width: 100%;
        padding-top: calc(66.5px/1.5);
        padding-bottom: calc(66.5px/1.5);
    }
    
    .calculator-body {
        min-height: 511px;
    }
    
    .calculator-screen-bezel {
        width: 273.33px;
        min-height: 113.33px;
        padding: 3.33px;
        border-radius: 16.667px;
    }
    
    .calculator-screen {
        width: 100%;
        min-height: 106.667px;
        border-radius: 16.667px;
    }
    
    .num-row-screen {
        line-height: 33.33px;
        font-size: 33.33px;
        width: 253.33px;
        min-height: 33.33px;
    }
    
    .calculator-button-group {
        width: 266.667px;
        height: 333.33px;
    }
    
    .calculator-button-subgroup {
        width: 266.667px;
        height: 53.33px;
    }
    
    .calculator-button {
        width: 53.33px;
        height: 53.33px;
        font-size: 24px;
    }
    
    .calculator-button-double {
        width: calc(186.67px / 1.5);
        border-radius: 21.33px;
    }

    .topaz-logo-img {
        max-width: 42.667px;
    }
}